**.class
**.log
**.zip
**.rar
**.war
**.tar.gz

**/hs_err_pid*

**/target/*
**/bin/classes/*
**/bin/*
**/log/*
/bin/

# jason / jacamo agent temporary files
**.mas2j~
**.asl~

# graphviz (gv) and compiled graphs (pdf)
*.gv
*.pdf
